@charset "utf-8";

/* ----- 공통 layout ----- */
/* skip navi */
.skip{position:relative;z-index:100;}
.skip h2{display: block;overflow: hidden;position: absolute;width: 0px;height: 0px;font-size: 1px;line-height: 0;text-indent: -999em;white-space: nowrap;}
.skip a{position: absolute;top: -100px;left: -999px;display:block;height:50px;padding:0 20px;line-height:50px;font-size:16px;text-align:center;background: #31313b;color: white;}
.skip a:focus{top:0;left:0;}

/* 기본 CSS */
.textR{text-align:right !important;}
.textC{text-align:center !important;}
.textL{text-align:left !important;}

.fl-l{float:left;}
.fl-r{float:right;}
.fl-c:after{content:'';display:block;clear:both;}

/* hidding */
.offscreen{position:absolute;left:-10000px;top:-100000px;width:0px;height:0px;font-size:0;overflow:hidden;}

/* icon */
.icon{display:inline-block;font-size:0;}
.icon:before{content:'';display:inline-block;background:url('../img/icon_common.png') left top no-repeat;background-size:300px 300px;}

.icon.icon-arrup:before{width:23px;height:22.5px;}
.icon.icon-tel:before{width:24.5px;height:24.5px;background-position:0 -50px;}
.icon.icon-location:before{width:36px;height:25px;background-position:0 -100px;}
.icon.icon-plus:before{width:27.5px;height:27.5px;background-position:0 -150px;}
.icon.icon-x:before{width:20.5px;height:20.5px;background-position:0 -200px;}
.icon.icon-calen:before{width:24.5px;height:25.5px;background-position:-50px 0px;}
.icon.icon-sche:before{width:23px;height:29.5px;background-position:-50px -50px;}
.icon.icon-steth:before{width:27.5px;height:25px;background-position:-50px -100px;}
.icon.icon-person:before{width:25px;height:28px;background-position:-50px -150px;}
.icon.icon-cscenter:before{width:35px;height:31.5px;background-position:-50px -200px;}


.NotoKrL{font-family: 'NotoKrL';} 
.NotoKrDL{font-family: 'NotoKrDL';}
.NotoKrR{font-family: 'NotoKrR';}
.NotoKrM{font-family: 'NotoKrM';}
.NotoKrB{font-family: 'NotoKrB';}


/* 공통 */
.title-type1{font-family:'NotoKrM';font-size:18px;color:#000;}
.text-small-type1{display:block;font-family:'NotoKrL';font-size:12px;color:#0770bb;position:relative;padding-left:7px;text-align:left;}
.text-small-type1:before{content:'*';position:absolute;left:0;top:3px;}
.active-type1{font-family:'NotoKrR';color:#0770bb;border-bottom:1px solid #0770bb}

.cont-wrap .text-type2{padding-left: 15px;font-size: 14px;color: #777;margin-bottom: 14px;line-height: 20px;}

/* components */
::-webkit-input-placeholder { /* Edge */color:#777;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color:#777;}
::placeholder {color:#777;}

input[type=text], input[type=password]{border:1px solid #ddd;font-size:13px;font-family:'NotoKrL';color:#777;background:#fff;height:40px;padding:0 20px}
label.hide{position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
input[type=text]:disabled, input[type=password]:disabled{ border:1px solid #eee;color:#777;background:#f8f8f8;}
input[type=text]:focus, input[type=password]:focus{ outline:none;border-color: #199da3;font-family:'NotoKrR';color:#000;}

select{ border:1px solid #ddd;font-size:13px;line-height:22px;font-family:'NotoKrL';color:#777;background:url(../img/icon_components_select_off.png) no-repeat right center;height:40px;padding:0 20px;-webkit-appearance:none;-moz-appearance:none; appearance:none;text-align:left;padding-right:56px;border-radius:0} 
select::-ms-expand { display:none;}
select:disabled{ border-color:#eee;color:#777;background:#f8f8f8;}
select:focus{ outline:none;border-color:#199da3;font-family:'NotoKrR';color:#000;background:url(../img/icon_components_select_on.png) right -40px top 50% no-repeat}

/* 버튼 */
.btn{display:inline-block;width:50%;height:40px;line-height:40px;color:#fff;font-size:14px;font-family: 'NotoKrR';padding:0 20px;}
.btn.color01{background:#0770bb}
.btn.color02{background:#199da3}
.btn.color03{background:#757a85}
.btn.color04{background: #199da3; /* Old browsers */
background: -moz-linear-gradient(-45deg, #199da3 0%, #199da3 31%, #0b79b6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #199da3 0%,#199da3 31%,#0b79b6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #199da3 0%,#199da3 31%,#0b79b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.btn.btn-l{width:100%}

/* 버튼 wrap */
.btn-wrap:after{content:'';display:block;clear:both;}
.btn-wrap .btn{float:left;}

/* dl 타입 */
.dl-type1{text-align:left;}
.dl-type1>dt{font-family:'NotoKrM';font-size:18px;color:#000;margin-bottom:14px }
.dl-type1>dd{font-family:'NotoKrL';font-size:14px;color:#333;margin-bottom:26px;line-height:20px;}
.dl-type1>dd .text-type4{display:block;}

.list-type2 li{position:relative;padding-left:5px;font-size:12px;color:#777;line-height:20px}
.list-type2 li:before{content:'-';display:inline-block;position:absolute;left:0;top:inherit}

.dl-type2{text-align:left;}
.dl-type2 dt{padding-left:15px;position: relative;margin-bottom:8px;font-size:16px;color:#333;font-family:'NotoKrM';line-height:20px;}
.dl-type2 dt:before{content:'';display:inline-block;position:absolute;left:5px;top:9px;width:5px;height:5px;background:#199da3;border-radius:15px;}
.dl-type2 dd{padding-left:15px;font-size:14px;color:#777;margin-bottom:14px;line-height:20px;}


/* 리스트 타입 */
.list-type1-bak{text-align:left;}
.list-type1-bak li{padding-left:8px;position: relative;margin-bottom:7px;font-size:12px;color:#777;}
.list-type1-bak li:before{content:'';display:inline-block;position:absolute;left:0;top:50%;margin-top:-2px;width:3px;height:3px;background:#aaa;border-radius:3px;}

.list-type1{text-align:left;}
.list-type1>li{padding-left:15px;position: relative;margin-bottom:7px;font-size:14px;color:#333;line-height:20px;}
.list-type1>li:before{content:'';display:inline-block;position:absolute;left:6px;top:9px;width:3px;height:3px;background:#aaa;}
.list-type1>li ul{margin-top:6px;}
.list-type1>li ul li{line-height:18px;font-size:12px;color:#777;}

/* checkbox */
.checkbox{position:relative;display:inline-block;vertical-align:middle;margin-right:10px;}
.checkbox input[type=checkbox]{position:absolute;left:0;top:0;}
.checkbox label{display:inline-block;position:relative;padding-left:35px;min-width:25px;min-height:25px;line-height:25px;color:#777;}
.checkbox label:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:25px;height:25px;background:url('../img/icon_component.png') -40px 0px;cursor:pointer;z-index:10;}
.checkbox input[type=checkbox]:checked +label:before{background-position:-40px -40px;}
.checkbox input[type=checkbox]:disabled +label:before{background-position:-40px -80px;}
.checkbox input[type=checkbox]:disabled:checked +label:before{background-position:-40px -120px;}

/* checkbox-type2 */
.checkbox-type2{position:relative;display:inline-block;vertical-align:middle;margin-right:10px;}
.checkbox-type2 input[type=checkbox]{position:absolute;left:5px;top:5px;}
.checkbox-type2 label{display:inline-block;position:relative;padding-left:40px;min-width:30px;min-height:30px;line-height:30px;color:#777;}
.checkbox-type2 label:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:30px;height:30px;background:url('../img/icon_component.png') 0px 0px;cursor:pointer;z-index:10;}
.checkbox-type2 input[type=checkbox]:checked +label:before{background-position:0px -40px;}
.checkbox-type2 input[type=checkbox]:disabled +label:before{background-position:0px -80px;}
.checkbox-type2 input[type=checkbox]:disabled:checked +label:before{background-position:0px -120px;}

/* radio */
.radio{position:relative;display:inline-block;vertical-align:middle;margin-right:10px;}
.radio input[type=radio]{position:absolute;left:-1px;top:-1px;}
.radio label{display:inline-block;position:relative;padding-left:30px;min-width:20px;min-height:20px;line-height:20px;color:#777;}
.radio label:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:20px;height:20px;background:#fff;cursor:pointer;border:1px solid #ddd;box-sizing:border-box;border-radius:20px;z-index:10;}
.radio input[type=radio]:checked +label:before{border:6px solid #199da3;}
.radio input[type=radio]:disabled +label:before{background:#eee;}

/* switch-radio */
.switch-wrap{position:relative;display:inline-block;vertical-align:middle}
.switch-button{display:inline-block;position:relative;float:left;}
.switch-button input[type=radio]{position:absolute;left:0;top:0;}
.switch-button label{position:relative;border:1px solid #199da3;text-align:center;display:inline-block;float:left;background:#fff;color:#199da3;font-size:16px;height:40px;width:70px;line-height:40px;cursor:pointer}
.switch-button input[type=radio]:checked +label{background:#199da3;color:#fff;}
.switch-button input[type=radio]:disabled +label{background:#f8f8f8;color:#777;border-color:#eee;}
.switch-button:first-child label{border-radius:3px 0 0 3px;border-right:0}
.switch-button:last-child label{border-radius:0 3px 3px 0}


/* tab */
.tab-wrap{position:relative;}
.tablist-type1{width:100%;display:table;table-layout: fixed;border-bottom:1px solid #eee;padding-right:15px;padding-left:15px;}
.tablist-type1 a{display:table-cell;text-align:center;height:40px;color:#000;font-size:14px;font-family:'NotoKrM',sans-serif;font-size:14px;}
.tablist-type1 a.active{position:relative;color:#0770bb;font-family:'NotoKrR',sans-serif;}
.tablist-type1 a.active:after{content:'';display:block;height:2px;position:absolute;left:0;bottom:-2px;right:0;background:#0770bb;}


/* layout */
.logo{width:145px;display:inline-block;}
.logo a{display:block;}
.logo a img{width:100%;}

.header{background:#0770bb;height:60px;position:relative;}
.header:after{content:'';display:block;clear:both;}
.header .logo{position:absolute;left:15px;top:13px;}
.header-right{text-align:right;float:right;margin-right:10px;margin-top:15px;}
.header-right button[type=button]{padding:5px;display:inline-block;}
.header-btns button[type=button]:before{content:'';display:inline-block;background:url('../img/icon_header.png') no-repeat;background-size:150px 150px}
.header-btns button[type=button].btn-menu:before{width:20px;height:16px;background-position:0 0;}
.header-btns button[type=button].btn-login:before{width:18px;height:19px;background-position:0 -50px;}

/* 타이틀영역 */
.pagetitle-wrap:after{content:'';display:block;clear:both;}
.pagetitle-wrap{text-align:center;padding:0 40px;position:relative;height:50px;}
.title-left-btn{position:absolute;left:5px;top:6px;}
.btn-prevpage{display:inline-block;width:35px;height:40px;}
.btn-prevpage:before{content:'';display:inline-block;background:url('../img/icon_header.png') no-repeat;background-size:150px 150px;background-position:0 -100px;width:24.5px;height:19.5px;}
.pagetitle-wrap .title-type1{line-height:49px;display:inline-block;}

/* 상단 타이틀 다음에 올수 있는 다음주요영역 */
.topsub-wrap{border-top:1px solid #eee}
.topsub-wrap:after{content:'';display:block;clear:both;}
.topsub-wrap .sample{width:100%;}

/* contents */
.contents-wrap{padding:25px 15px;border-top:1px solid #eee;}
.contents-wrap:after{content:'';display:block;clear:both;}
.cont-wrap{margin-bottom:23px;}
.contents-wrap .title-type1{margin-bottom:14px;}

/* 연결섹션 보더 조정 */
.container >.tab-wrap + .contents-wrap{border-top:none;}
.accordion-wrap+.etc-wrap{margin-top:25px;}

/* board */
/* board 공통요소 */
.board-wrap{margin:15px 15px 0;}
.board-content-wrap{border-top:2px solid #bbb}
.board-content-wrap:after{content:'';display:block;clear:both;}

.board-img{margin-bottom:14px;}
.board-img img{width:100%;}
.board-category{color:#666;font-size:12px;margin-bottom:10px;vertical-align: top}
.board-title{font-size:15px;line-height:18px;color:#000;margin-bottom: 10px;letter-spacing:-0.05em;font-family:'NotoKrR';}
.board-data{font-size:12px;color:#666;vertical-align: top}

.board-elmt{padding-right:10px;margin-right:10px;position:relative;display:inline-block;vertical-align: middle}
.board-elmt:after{content:'';display:inline-block;position:absolute;right:0;top:50%;margin-top:-4px; width:1px;background:#aaa;height:9px;vertical-align: middle;}
.board-elmt:last-child{padding-right:0;}
.board-elmt:last-child:after{display:none;}

/* board_search */
.search-box-wrap{margin-bottom:20px;}
.search-box-wrap:after{content:'';display:block;clear:both;}
.search-box{background:#f4f5f9;border-radius:10px;position: relative}
.search-box .input-search{border:none;display:block;width:100%;background: transparent;color:#666;font-size:14px;}
.search-box .btn-search{position: absolute;right:0;top:0;height:40px;width:40px;padding-right:15px;}
.btn-search:before{content:'';display:inline-block;width:21px;height:20px;background: url('../img/icon_board.png') left top no-repeat;background-size:150px 150px;}
.search-result-wrap{margin-bottom:10px;}
.search-result-text{font-size:12px;color:#666;}
.search-result-text em{color:#0770bb;font-family:'NotoKrR',sans-serif;}

/* board-list */
.list-row{border-bottom:1px solid #eee;}
.list-link-box{display:block;padding-bottom:20px;padding-top:20px;}
.list-row .board-title{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height:18px;}
.list-row .board-title .badge{vertical-align:bottom}

/* board-bottom */
.board-bottom-wrap{text-align:center;margin-top:16px;}

.btn-more{display:block;width:100%;background:#fff;text-align:center;border:1px solid #ddd;height:35px;line-height:33px;border-radius:35px;font-family:'NotoKrR';font-size:12px;color:#666}
.btn-more:before{content:'';display:inline-block;width:10.5px;height:10.5px;background:url('../img/icon_board.png') left -50px no-repeat;background-size:150px 150px;margin-right:10px;vertical-align: middle;margin-top:-3px;}

/* board-detail-top */
.board-info-wrap{padding-top:20px;padding-bottom:20px;border-bottom:1px solid #eee;margin-bottom:20px;}
.board-info-wrap .board-title{font-size:17px;line-height:23px;text-overflow: initial;}

/* board-content */
.board-cont-wrap{margin-bottom:20px;}
.board-editor{min-height:220px;background:#eee;}

/* 첨부파일 */
.board-file-wrap{padding-top:20px;padding-bottom:20px;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.board-file-title{color:#333;margin-bottom:10px;font-family:'NotoKrR';}
.board-file-title:before{content:'';display:inline-block;width:15.5px;height:12.5px;background: url('../img/icon_board.png') 0 -100px;background-size: 150px 150px;margin-right:5px;}
.board-file-wrap .list-type1{margin-left:13px;}
.board-file-wrap .list-type1 li{line-height:21px;margin-bottom:0;}
.board-file-wrap .list-type1 li a{border-bottom:1px solid #aaa}

/* nodata */
.nodata-wrap{min-height:280px;text-align:center;border-bottom:1px solid #eee;}
.icon-nodata{text-align:center;padding-top:76px;}
.icon-nodata:before{content:'';display:inline-block;width:83.5px;height:96px;background:url('../img/icon_board.png') -50px 0 no-repeat;background-size:150px 150px;margin-bottom:25px;}
.nodata-text{color:#777;line-height:1.4;}

/* badge */
.badge{display:inline-block;width:35px;height:18px;border-radius:3px;margin-right:10px;text-align:center;line-height:16px;color:#fff;font-size:12px; font-family:'NotoKrR';vertical-align: middle}
.badge.style1{background:#d92c2c}
.badge.style2{background:#0770bb}

/* errorpage */
.error-wrap,.error-cont{width:100%;}
.error-wrap .error-header{padding-top:23px;text-align:center;}
.error-wrap .error-cont{position:absolute;left:50%;top:50%;text-align:center;transform: translate(-50%, -56%)}
.error-wrap .error-cont:before{content:'';display:inline-block;width:114px;height:99px;background:url('../img/icon_error.png') left top no-repeat;background-size: 114px 99px;margin-bottom:32px;}
.error-title{font-size:18px;color:#000;font-family:'NotoKrM';margin-bottom:20px;line-height:24px;}
.error-text{color:#777;font-size:12px;line-height:17px;}
.error-wrap .btn-wrap{position:fixed;left:0;bottom:0;right:0;}
.error-wrap.type2 .error-cont:before{background:url('../img/icon_error2.png') left top no-repeat;background-size: 114px 105.5px;height:105.5px;}

/* table */
.table-wrap{position:relative;border-top:2px solid #bbb;}
.table-wrap table{width:100%;line-height:1.2;}
table caption{display:block;height:0;width:0;font-size:0;line-height:0;margin:0;padding:0;overflow:hidden;}
.table-wrap thead th{border-bottom:1px solid #ddd;}
.table-wrap th,.table-wrap td{font-size:13px;border-bottom:1px solid #eee;border-right:1px solid #eee;height:40px;text-align:center;padding:11px 15px;}
.table-wrap th{background:#f6f6f6;color:#000;font-family: 'NotoKrR';}
.table-wrap td{background:#fff;color:#777;}
.table-wrap tr th:first-child,.table-wrap tr td:first-child{border-left:none}
.table-wrap tr th:last-child,.table-wrap tr td:last-child{border-right:none}

/* accordion */
.accordion{position: relative;border-top:2px solid #bbb;border-bottom:1px solid #ddd}
.accordion dt{position:relative;border-top:1px solid #eee;line-height:46px;overflow:hidden;}
.accordion dt:first-child{border-top:none;}
.accordion-trigger{display:block;padding-left:15px;padding-right:35px;color:#000;font-size:15px;font-family: 'NotoKrM';height:46px;width:100%;text-align:left;}
.accordion-icon{display:inline-block;position:absolute;right:15px;top:50%;background:url('../img/icon_accordion.png') left top no-repeat;width:16px;height:16px;background-size:50px 100px;transform: translateY(-50%);z-index:-1}
.accordion-panel{background:#f8f8f8;padding:15px;font-size:12px;line-height:17px;border-top:1px solid #eee;}
.accordion-panel[hidden] {display: none;}
.accordion-trigger:focus,.accordion-trigger:hover {background:rgba(0,0,0,0.1)}
.accordion-trigger[aria-expanded="true"] .accordion-icon{background-position:0 -50px;height:1px;}


/* 공통문단 */
.accord-p:after{content:'';display:block;clear:both;}
.accord-p + .accord-p{margin-top:14px}
.accord-p .title-type4{line-height:25px;}

/* 공통 전화 스타일 */
.tel-number{display:inline-block;color:#0770bb;font-size:14px;font-family:'NotoKrR'}
.btn-tel{display:inline-block;vertical-align: middle;width:25px;height:25px;}
.btn-tel .icon{position:relative;display:inline-block;width:25px;height:25px;background:#0770bb;border-radius:50%;}
.btn-tel .icon.icon-tel:before{width:15px;height:15px;background-size:180px 180px;background-position:0 -30px;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%)}
.tel-number +.btn-tel{margin-left:10px;}

/* layerpop */
.layerpop-bg{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.5)}
.layerpop{position:fixed;left:50%;top:50%;width:84%;background:#fff;height:auto;transform: translate(-50%,-50%)}
.lp-contents-wrap{margin:15px;min-height:230px;}
.layerpop .btn-wrap .btn{padding:0 10px;}

/* etcbox */
.etcbox{background:#f3f3f3;padding:20px 14px;}
.etcbox .etcbox-title{font-size:15px;color:#000;line-height:16px;margin-bottom:10px;font-family: 'NotoKrR'}
.etcbox .etcbox-cont{color:#000;font-size:12px;line-height:16px;}
.etcbox .etcbox-cont{margin-bottom:10px;}
.etcbox-list{margin-bottom:10px}
.etcbox-list li{border-bottom:1px solid #ddd;vertical-align: middle}
.etcbox-list li:last-child{border-bottom:none;}
.etcbox-list li:after{content:'';display:block;clear:both;}
.etcbox-list li .tel-number{display:inline-block;width:calc(100% - 45px);float:left;line-height:45px;vertical-align: middle}
.etcbox-list li .tel-number +.btn-tel{float:right;margin-left:0;vertical-align: middle;padding:10px;width:45px;height:45px;}

