@charset "utf-8";

@font-face {
	font-family: 'NotoKrL';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NotoSans-Light.eot');
	src: url('../fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSans-Light.woff2') format('woff2'),
		 url('../fonts/NotoSans-Light.woff') format('woff');
}
@font-face {
	font-family: 'NotoKrDL';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/NotoSans-DemiLight.eot');
	src: url('../fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSans-DemiLight.woff2') format('woff2'),
		 url('../fonts/NotoSans-DemiLight.woff') format('woff');
}
@font-face {
	font-family: 'NotoKrR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSans-Regular.eot');
	src: url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSans-Regular.woff2') format('woff2'),
		 url('../fonts/NotoSans-Regular.woff') format('woff');
}
@font-face {
	font-family: 'NotoKrM';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/NotoSans-Medium.eot');
	src: url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSans-Medium.woff2') format('woff2'),
		 url('../fonts/NotoSans-Medium.woff') format('woff');
}
@font-face {
	font-family: 'NotoKrB';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NotoSans-Bold.eot');
	src: url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSans-Bold.woff2') format('woff2'),
		 url('../fonts/NotoSans-Bold.woff') format('woff');
}
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

@font-face {
	font-family: 'NotoKrL';
	font-style: normal;
	font-weight: 300;
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Light.eot');
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Light.woff2') format('woff2'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Light.woff') format('woff');
}
@font-face {
	font-family: 'NotoKrDL';
	font-style: normal;
	font-weight: 100;
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-DemiLight.eot');
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-DemiLight.woff2') format('woff2'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-DemiLight.woff') format('woff');
}
@font-face {
	font-family: 'NotoKrR';
	font-style: normal;
	font-weight: 400;
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Regular.eot');
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Regular.woff2') format('woff2'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Regular.woff') format('woff');
}
@font-face {
	font-family: 'NotoKrM';
	font-style: normal;
	font-weight: 500;
	src: url('../font/notokr/NotoSans-Medium.eot');
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Medium.woff2') format('woff2'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Medium.woff') format('woff');
}
@font-face {
	font-family: 'NotoKrB';
	font-style: normal;
	font-weight: 700;
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Bold.eot');
	src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Bold.woff2') format('woff2'),
		 url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSans-Bold.woff') format('woff');
} */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
	margin:0;
	padding:0;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
canvas, details,  
summary,
time, mark, audio, video {
	margin:0;
	padding:0;
}
*{box-sizing: border-box;}
h1, h2, h3, h4, h5, h6{font-size:inherit;font-weight:normal;}
body {
	line-height:1;
	font-family: 'NotoKrL',sans-serif;
	font-size:14px;
	color:#777;
	-webkit-text-size-adjust: 100%;
	vertical-align: middle;
	letter-spacing:-0.02em;
	padding-bottom:45px;
}
ul li{
	list-style:none;
	padding:0;
}
img {
	border: none;
	vertical-align: middle;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a{
	color:inherit;
	margin:0;
	padding:0;
	text-decoration: none;
	vertical-align: middle;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input, select {
	vertical-align:middle;
	font-size:initial;
	-webkit-appearance: none;
   -webkit-border-radius: 0;
}
em{font-style:normal}
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
b,
strong {
	font-weight: bolder;
}
abbr[title], dfn[title] {
	cursor:help;
	border-bottom: none;
	text-decoration: underline;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: pointer;
	padding: 0;
	background:transparent;
	border:none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="text"],input[type="tel"],input[type="password"]{width:100%;}